<!DOCTYPE html>
<head>
  <title>GPT3 Summarizer</title>
  <!-- <link
    rel="shortcut icon"
  href="{{ url_for('static', filename='dog.png') }}" 
  /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- <img src="{{ url_for('static', filename='dog.png') }}" class="icon" /> -->
  <h3>Enter text to summarize:</h3>
  <form action="/" method="post">
    <textarea name="text" placeholder="Enter some text" rows="20" cols="100" required></textarea>
  </br>
    <input type="submit" value="Generate summary" />
  </form>
  {% if result %}
  <div class="result">
    {{ result }}
  </div>
  {% endif %}
</body>
